div#containerAlgoOption {
    width: 248px;
    height: 122px;
    position: relative;
    top: -98px;
    left: 873px;
    border-radius: 0.3rem;
}

button#ButonnP {
    background: #ffffff;
    border-color: #ffffff;
    width: auto;
    margin: 11px;
}
button#ButonnE {
    background: #ffffff;
    border-color: #ffffff;
    width: auto;
}