.modal-content {
	top: 118px;
	
	right: 6px;
	width: 168px;
}
div#changeHeightBuisnessdomain {
    height: 403px;
}
.modal-body {
	display: grid;
	width: 967px;
	grid-template-columns: 7px 7px 7px 7px 7px 7px 7px 7px;
	align-items: start;
	justify-content: space-between;
	position: relative;
	top: 3px;
	left: 73px;
	height: 98px;
}
div#container {
	width: 1141px;
	position: relative;
	height: 400px;
	background: #f1f3f2;
	left: 0px;
	top: 0px;
	border-radius: 10px;
}
p#PcreateNotebookBuisness {
	font-size: 23px;
	font-family: Metropolis;
	color: #082e40;
}

div#Containerp {
	position: relative;
	width: 292px;
	height: 40px;
	top: -46px;
	right: 12px;
	background: #ffffff9e;
}
img.card-img {
	width: auto;
	right: 12px;
	position: relative;
	top: -6px;
}

button#buisnessDomainB {
	position: relative;
	top: 6px;
	left: 11px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}

button#buisnessDomainFa {
	position: relative;
	top: 6px;
	left: 176px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}

#buisnessDomainF {
	position: relative;
	top: 6px;
	left: 343px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}

button#buisnessDomainH {
	position: relative;
	top: 6px;
	left: 513px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}

button#buisnessDomainI {
	position: relative;
	top: 6px;
	left: 684px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}

button#buisnessDomainM {
	position: relative;
	top: 191px;
	right: 775px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}

button#buisnessDomainP {
	position: relative;
	top: 191px;
	right: 612px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}

button#buisnessDomainR {
	position: relative;
	top: 191px;
	right: 444px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}

button#buisnessDomainT {
	position: relative;
	top: 7px;
	left: 985px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}

button#buisnessDomainMar {
	position: relative;
	top: 7px;
	left: 1156px;
	width: 292px;
	height: 176px;
	border-radius: 5px;
	background: white;
	border: 1px solid #d4d4d4;
}
