div#containerbaroptionsicon {
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    left: 1002px;
    top: -36px;
}
div#changeHeightoutpoutblock {
    width: 1013px;
    height: auto;
    background: #ffffff;
    border: none;
    box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
    border-radius: 7px;
}
.modal-content.lololala {
    border: none;
    box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
    border-radius: 7px;
    left: 0px;
    top: 1px;
}
svg#eyescachoutpout {
    width: 24px;
    left: -21px;
    position: relative;
}
svg#tableicon1 {
    position: absolute;
    width: 27px;
    right: -1px;
    top: -4px;
}
svg#tableicon2 {
    position: absolute;
    width: 27px;
    right: 96px;
}
svg#tableicon3 {
    position: absolute;
    width: 27px;
    right: 82px;
}
svg#tableicon4 {
    position: absolute;
    width: 27px;
    right: 184px;
}
svg#tableicon5 {
    position: absolute;
    width: 27px;
    right: -2px;
    top: -6px;
}
svg#tableicon6 {
    position: absolute;
    width: 27px;
    right: 276px;
}
div#outpout {
    position: relative;
    top: 129px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 81px;
    left: 38px;
}
button#buttonshowtablesoutpout {
    position: absolute;
    top: 3px;
    left: -68px;
    height: 29px;
    width: 30px;
    background: #ffffff00;
    border-radius: 20px;
    border: 1px solid#ffffff;
    outline: none !important;
    box-shadow: none;
}
button#buttonshowimgoutpout {
    position: absolute;
    top: 3px;
    left: -63px;
    height: 29px;
    width: 30px;
    background: #ffffff00;
    border-radius: 20px;
    border: 1px solid#ffffff;
    outline: none !important;
    box-shadow: none;
    display: none;
}

button#buttonseyesshowoutpoutt {
    position: absolute;
    top: -7px;
    left: -14px;
    height: 29px;
    width: 30px;
    background: #ffffff00;
    border-radius: 20px;
    border: 1px solid#ffffff;
    outline: none !important;
    box-shadow: none;
}
p.MuiTypography-root.MuiTablePagination-caption.makeStyles-caption-2.MuiTypography-body2.MuiTypography-colorInherit {
    top: 0px;
    right: 2px;
}