input#datestart,
input#dateend {
  height: 0px;
  background: #f1f3f2;
}

div#filterdateblock {
  width: 223px;
}

label#datestart-label {
  top: -5px;
  color: #082e40;
}

label#dateend-label {
  top: -5px;
  color: #082e40;
}
/* fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    background: #f1f3f2;
} */

.css-1lwbda4-MuiStack-root {
  position: relative;
  top: 6px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.css-1smlk3z-MuiPaper-root {
  position: relative;
  left: 135px;
}
