div#containerblockaccesnotebook {
  width: fit-content;
  position: relative;
  left: -3px;
  top: 131px;
}
div#modaldialogaccesnotebook {
  top: 19px;
}
.modal-content.modalaccesnotebook {
  position: relative;
  top: 0px;
  width: 700px;
  left: 0px;
  border: none;
  background: #f1f3f2;
  box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
  border-radius: 7px;
}

.modal-body {
  background: white;
}
div#searchbar {
  position: relative;
  left: 29px;
  top: 12px;
}
p#puseraccesnoteboksearchbar {
  width: fit-content;
  position: absolute;
  font-size: 18px;
  right: 162px;
  top: 21px;
  color: #082e40;
}
p#lastsignedin {
  width: fit-content;
  position: absolute;
  top: 20px;
  left: 356px;
  font-size: 18px;
  color: #082e40;
}
p#acceslevel {
  width: fit-content;
  position: absolute;
  top: 20px;
  left: 540px;
  color: #082e40;
  font-size: 18px;
}
p#name {
  position: absolute;
  font-size: 18px;
  top: 4px;
  text-align: initial;
  color: #082e40;
  left: 79px;
}
p#email {
  position: absolute;
  top: 24px;
  color: #082e40bd;
  font-size: 16px;
  text-align: initial;
  left: 79px;
}
p#lastsigjnedinlistgroupitem {
  width: fit-content;
  position: absolute;
  left: 342px;
  top: 14px;
  color: #082e40;
}
div#acceslevellistgroupitem {
  position: absolute;
  left: 525px;
  top: 14px;
  color: #082e40;
  width: fit-content;
}
button#dropdown-basic1 {
  background: #ffffff00;
  border: none;
  outline: none;
  top: -8px;
  left: 37px;
  color: #082e40;
  box-shadow: none;
  position: relative;
}
input#formBasicCheckbox,
input#formBasicCheckbox2,
input#formBasicCheckbox3,
input#formBasicCheckbox4 {
  border-radius: 13px;
  width: 20px;
  height: 20px;
  position: relative;
  top: -5px;
  right: 7px;
  box-shadow: none;
}
div#listacceslevel {
  background: none;
}
div#listgroupacceslevel {
  width: 309px;
}
label.form-check-label {
  color: #082e40;
  font-size: 16px;
  position: inherit;
  font-family: raleway;
}
.form-check {
  text-align: initial;
}
p#pacceslevel {
  width: 227px;
  text-align: initial;
  position: relative;
  left: 25px;
  color: #082e40bf;
  top: 0px;
}
.dropdown-menu {
  cursor: pointer;
  position: absolute !important;
  inset: auto auto !important;
}
