div#containerlibrary {
  height: 162px;
  position: initial;
  width: auto;
  background: #f1f3f2;
}
.modal-content {
  height: auto;
}
div#FolderL1 {
  position: relative;
  left: 6px;
}

svg {
  color: #082e40;
  /* font-size: 47px; */
  width: 40px;
  height: 40px;
}
div#PavatarL {
  width: max-content;
  position: relative;
  right: 85px;
  top: 4px;
}

div#PavatarL2 {
  width: max-content;
  position: relative;
  right: 90px;
  top: 5px;
}

div#PavatarL3 {
  position: relative;
  width: max-content;
  right: 88px;
  top: 5px;
}

div#PavatarL4 {
  position: relative;
  right: 88px;
  width: max-content;
  top: 5px;
}
button#buttonLibraryText {
  position: relative;
  top: 19px;
  background: #7fffd400;
  left: 411px;
  border-radius: 33px;
  border: 1px solid #092e3f;
  font-size: 18px;
  width: 173px;
}
div#modallibrary {
  width: 297px;
}
.accordion-item {
  width: 295px;
  top: 16px;
  left: -16px;
  position: relative;
}




span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  font-size: 23px;
  color: #082e40;
  position: relative;
  left: 119px;
}

svg#iconaddtolibrary {
  position: relative;
  left: 115px;
  width: 23px;
  height: 23px;
  top: -96px;
}
label.form-check-label {
  color: #082e40;
  font-size: 19px;
  position: relative;
  left: 82px;
}
label#createlibraryname {
  top: 0px;
  font-size: 16px;
  right: -3px;
  position: relative;
}
label#createlibrarydescription {
  top: 1px;
  right: -3px;
  position: relative;
  font-size: 16px;
}
svg#iconaddtolibrarycreatenotebook {
  width: 24px;
  top: -7px;
  right: 59px;
  position: relative;
}
a#liensiconnext {
  position: relative;
  top: -270px;
  left: 789px;
}
svg#flechenext {
  width: 55px;
  height: 55px;
}
p#ptextaddtolibrary {
  position: relative;
  top: -36px;
  left: 15px;
}
div#listgroupaddlibrary {
  width: auto;
}

input[type=checkbox],input[type="checkbox"]:checked {
  border-radius: 30px;
  width: 20px;
  height: 20px;
  position: relative;
  top: -5px;
  right: 7px;
  box-shadow: none;
}
.form-check-input[type=checkbox] {
  border-radius: 1.25em;
}
p#pdescriptionaddlibrary {
  width: 227px;
  text-align: initial;
  position: relative;
  left: 25px;
  color: #082e40bf;
}