
div#ContainerAA {
	position: relative;
	top: 260px;
	background: #f1f3f2;
	height: 178px;
	width: 1140px;
	left: 151px;
	border-radius: 5px;
}
div#containercreatenotebook {
    width: fit-content;
    position: absolute;
    top: 120px;
    left: 146px;
}
h1#createnotebook {
    position: absolute;
    top: 139px;
    left: 146px;
    font-family: raleway;
    color: #092e3f;
    font-size: 31px;
}
p#addtolibraryptexticonfleche {
    position: absolute;
    top: 21px;
    left: 5px;
    color: #082e40;
}
a#liensiconnext {
    position: relative;
    top: -437px;
    left: 635px;
}