/* div#containerTagsbar {
    position: relative;
    top: 118px;
    width: 1140px;
    left: 148px;
    border-radius: 7px;
    height: 120px;
    background: #f1f3f2;
} */
.tags-input {
	display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 48px;
    width: 631px;
    padding: 0 8px;
    border: 1px solid rgb(241 243 242);
    border-radius: 6px;
    position: relative;
	top: 152px;
    left: 66px;
    background: #f0f3f2;
}
label#labelcreatenotebooktagsbar {
    top: 201px;
    left: 6px;
    font-size: 20px;
    position: relative;
}
input {
	flex: 1;
	border: none;
	height: 46px;
	font-size: 14px;
	padding: 4px 0 0 0;
    background: #f4f4f4;
}
:focus {
	outline: transparent;
}

#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
	background: #0052cc;
}
.tag-close-icon {
	display: block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	margin-left: 8px;
	color: #0052cc;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

.tag-title {
	margin-top: 3px;
}
