/* div#containerprincipalnotebook {
    background: white;
    height: 100vh;
    width: auto;
} */
div#navIcon {
	position: relative;
	display: grid;
	top: 114px;
	left: 20px;
	z-index: 99;
	font-size: 20px;
}
div#containericon {
	position: fixed;
}



div#navbarScroll {
	flex-grow: 1;
	align-items: center;
}
#navbarCss {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: rgb(3 3 3);
	top: -8px;
	width: auto;
	background: black;
}

img#imgNavbar {
	width: 31px;
	height: 45px;
	top: 4px;
	left: 10px;
	position: relative;
}
input#searchnavbar {
    width: 480px;
    height: 45px;
    color: rgb(198, 198, 198);
    background: #082e40;
    border: #082e40;
}
svg#iconnavbar {
	display: block;
	color: rgb(198, 198, 198);
	font-size: 20px;
	text-align: center;
	position: relative;
	top: 0px;
	left: 1px;
}
button.btn.btn-outline-success {
	position: relative;
	top: 2px;
	left: -49px;
	background: #f0f8ff00;
	border: #f0f8ff00;
}



form.d-flex {
	position: relative;
	top: 3px;
	left: 343px;
}
svg#icon {
	width: 30px;
    height: 33px;
    text-decoration: none;
    color: #263f56;
}

svg#iconSlack {
    width: 30px;
    height: 33px;
}

nav#main-nav {
	background: #f1f3f2;
	height: 73px;
}

svg.svg-inline--fa.fa-pen.fa-w-16.fa-lg {
	color: #23425e;
}
svg.svg-inline--fa.fa-bell.fa-w-14.fa-lg {
	color: #23425e;
}
svg.svg-inline--fa.fa-user.fa-w-14.fa-lg {
	color: #23425e;
}
a.navbar-brand {
    position: absolute;
    left: 17px;
    /* right: -8px; */
}